html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: bold;
  color: green;
}

main {
  display: flex;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1,
h2 {
  text-align: center;
}

h2 {
  color: blue;
}

nav {
  display: flex;
  flex-direction: column;
}

nav ul li {
  margin: 2vw;
  list-style: none;
}

li a {
  text-decoration: none;
  color: green;
}

figure {
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

figcaption {
  margin-top: 5%;
}

#seccion1 {
  display: flex;
  flex-direction: row;
}

#seccion2 {
  display: flex;
  flex-direction: row;
}

img {
  width: 50%;
  border-radius: 20px;
  margin-top: 10px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

address ul li {
  list-style: none;
  color: blue;
  text-align: center;
}
